<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="DevExpress-Aequitas" value="https://devexpress.aequitas.dev/nuget" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="DevExpress-Aequitas">
      <package pattern="DevExpress.*" />
      <package pattern="DX*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
