# Base URL API (dev)
# VITE_API_BASE_URL=http://localhost:5080

# DevExtreme license key – chỉ dùng khi có module nhập liệu Excel (load trong module đó).
# Lấy key: https://www.devexpress.com/ClientCenter/DownloadManager → chọn DevExtreme.
VITE_DEVEXTREME_LICENSE_KEY=
